.detail-container {
    background-color: rgba(241, 238, 238, 0.77);
    margin: 80px;
    padding: 20px;
}
.detail-name {
    font-size: .83em;
}

.detail-address {
    font-size: .8em;
}

.detail-phone {
    display: inline;
    margin: 10px;
}

.detail-description {
    text-align: justify;
    margin: 0px 100px;
    padding: 5px;
    border: solid #413F3F 1.em;
}

