.detail-container {
    background-color: rgba(241, 238, 238, 0.77);
    
    margin: 50px 150px;
    padding: 20px;
}
h2 {
    color: #1d2266;
}
.detail-name {
    font-size: .83em;
}

.detail-address {
    font-size: .8em;
}

.detail-web href {
    color: #1d2266;
}

.detail-phone {
    display: inline;
    margin: 10px;
}

.detail-description {
    text-align: justify;
    font-size: 1em;
    margin: 0px 100px;
    padding: 5px;
    border: solid #413F3F 1.em;
}

