.detail-container {
    background-color: rgba(241, 238, 238, 0.77);
    font-size: .8em;
    line-height: 1em;
    margin: 10px 150px;
    padding: 20px;
}
h2 {
    color: #1d2266;
}
a:link {
    color: #1d2266;
    text-decoration: none;
}

a:hover {
    color: #1E7E2A
} 

hr {
    margin: 10px;
    padding: .03em;
}

.detail-name {
    font-size: 1.0em;
    margin: 15px;
}

.detail-address {
    font-size: .95em;
}

.detail-web href {
    color: #1d2266;
}

.detail-phone {
    font-size: .8em;
    display: inline;
    margin: 10px;
}
.detail-web {
    margin-top: 8px;
    color: #1d2266;
}

.detail-description {
    text-align: justify;
    font-size: .8em;
    line-height: normal;
    margin: 0px 100px;
    padding: 5px;
    border: solid #413F3F 1.em;
}

.x-btn {
    float: right;
}
