body {
    font-family: 'Actor', sans-serif;
    font-size: 30px;
    color:black;
    text-align: center;
    
}
h1{
    font-size: 75px;

}
.home-search-container form{
    display: flex;
    flex-direction: column;
}
.home-search-container input[type="text"]{
    outline: none;
    border: none;
    background-color: blue;

}

