/* phthalo blue: #1D2266 */


/*--------------------------------------*/
/*          Results search bar          */
/*--------------------------------------*/

.results-container form {
    background-color: white;
    width: 634px;
    padding: 16px 0;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
}

.results-container input[type='text'] {
    background-color: white;
    border: 1px solid #1D2266;
    color: #1D2266;
    padding: 12px;
    font-size: 14px;
    font-family: 'Actor', sans-serif;
    /* flex-grow: 1; */
    width: 45%;
}

.results-container input[type='text']:focus {
    outline: none;
}

.results-container input[type='text']::placeholder {
    color: rgb(200, 200, 200);
}

/*--------------------------------------*/
/*             Results Page             */
/*--------------------------------------*/

.results-container {
    background-color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-bottom: 4%;
}

.single-result-container {
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    border-bottom: none;
    width: 600px;
    padding: 16px;
    transition: 0.3s all;
}

.single-result-container:last-child {
    border-bottom: 1px solid rgb(200, 200, 200);
}

.single-result-container:hover {
    box-shadow: 0 0 12px rgba(200, 200, 200, 0.5);
    z-index: 9;
}

.single-result-container p {
    padding: 0;
    margin: 6px 0;
}

.result-course {
    /* color: rgb(33, 118, 175); */
    color: #3498DB;
}

.result-course:hover {
    text-decoration: underline;
    cursor: pointer;
}

.result-org, 
.result-city {
    color: rgb(100, 100, 100);
    font-size: 14px;
}


@media screen and (max-width: 670px) {
    .single-result-container {
        width: 90%;
    }

    .results-container form {
        width: 95%;
    }

}

@media screen and (max-width: 535px) {
    .results-container form {
        flex-direction: column;
    }

    .results-container input[type='text'] {
        width: 95%;
    }
}