.detail-container {
    background-color: rgba(241, 238, 238, 0.77);
    font-size: .8em;
    line-height: 1em;
    /* margin: 10px 150px; */
    margin: 3% auto;
    padding: 20px;
    width: 80%;
    font-size: 18px;
    text-align: left;
}

.detail-section-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.detail-container p {
    margin: 10px 20px;
    line-height: 1.6;
}

.detail-container h2 {
    color: #1d2266;
    margin: 20px;
}

a:link {
    color: #1d2266;
    text-decoration: none;
}

a:hover {
    color: #1E7E2A
} 

hr {
    margin: 10px 20px;
    padding: .03em;
}

/* .detail-name {
    font-size: 1.0em;
}

.detail-phone {
    font-size: .8em;
    margin-right: 10px;
}

.detail-web {
    color: #1d2266;
}

.detail-description {
    text-align: justify;
    font-size: .8em;
    line-height: normal;
}

.detail-services {
    font-size: .8em;
    display: inline;
}

.detail-total {
    font-size: 1.2em;
}


.detail-class {
    font-size: .8em;
    display: inline;
}  */


/* Save and Unsave Buttons */

.x-btn {
    float: right;
}

button {
    outline: none;
    border: none;
    width: 152px;
    padding: 12px 20px;
    margin: 3%;
    background-color: rgb(216, 215, 215);
    border: 1px solid rgb(216, 215, 215);
    font-size: 16px;
    font-family: 'Actor', sans-serif;
    text-align: center;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
}

button:hover {
    border: 1px solid rgb(185, 185, 185);
}