/*--------------------------------------*/
/*             Navigation Bar           */
/*--------------------------------------*/
/* phthalo blue: #1D2266 */


.navbar {
    background-color: #1D2266;
    height: 64px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    margin-bottom: 2.2%;
    transition: 0.3s all;
    -webkit-transition:0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
}

.logo {
    height: 100%;
    width: auto;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
}

.navbar a,
.navbar a:visited {
    color: white;
    text-decoration: none;
}

.navbar a:last-child {
    padding-right: 3.6%;
    transition: 0.2s color;
    -webkit-transition: 0.2s color;
    -moz-transition: 0.2s color;
    -o-transition: 0.2s color;
}

.navbar a:last-child:hover {
    color: rgb(0,252,42);
}

@media screen and (max-width: 480px) {
    .logo {
        transform: scale(0.8);
    }
    .navbar {
        height: 60px;
    }
}
